* {
    margin: 0;
    padding: 0;
}

p, div, pre {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
    max-width: 100%;
}
body {
    max-width: 100%;
}

header {
    width: 100%;
    height: 120px;
}

td {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid;
    text-align: center;
    font-weight: bold;
}

.dropbtn, .modalbtn {
    background-color: #ADD8E6;
    border-style: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 71px;
    right: 3%;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a, p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ddd;
}

/*#main_screen_logo {*/
/*    position: absolute;*/
/*    margin: 20px 25px;*/
/*    width: 320px;*/
/*    height: 80px;*/
/*}*/

/*#game_title {*/
/*    position: absolute;*/
/*    margin: 20px 20px 20px 380px;*/
/*    width: 1150px;*/
/*    height: 80px;*/
/*    text-align: center;*/
/*    font-size: 64px;*/
/*    font-weight: bold;*/
/*    color: white;*/
/*}*/

/*#menu_buttons {*/
/*    position: absolute;*/
/*    right: 0%;*/
/*    margin: 20px 20px 20px 1350px;*/
/*    max-width: 100%;*/
/*    height: 80px;*/
/*    white-space: nowrap;*/
/*}*/

.img_button{
    display: block;
    width: 70px;
    height: 70px;
}

/*#setting_button {*/
/*    display:inline-block;*/
/*    margin: 5px 5px 5px 0px;*/
/*    width: 70px;*/
/*    height: 70px;*/
/*    border: 2px solid black;*/
/*    border-radius: 5px;*/
/*}*/

#help_button {
    display:inline-block;
    margin: 5px 5px 5px 0px;
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

#stat_button {
    display:inline-block;
    margin: 5px 5px 5px 0px;
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

#profile_button {
    display:inline-block;
    margin: 5px 5px 5px 0px;
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

#secondary_screen_buttons {
    margin: 20px 20px 20px 20px;
    width: 400px;
    height: 80px;
    white-space: nowrap;
}

#back_button {
    display: inline-block;
    margin: 5px 5px 5px 0px;
    width: 70px;
    height: 70px;
    border: 2px solid lightgrey;
    border-radius: 5px;
}

#add_button {
    display: inline-block;
    margin: 5px 5px 5px 0px;
    width: 70px;
    height: 70px;
    border: 2px solid lightgrey;
    border-radius: 5px;
}

#secondary_screen_logo {
    position: absolute;
    margin: 20px 20px 20px 1650px;
    width: 320px;
    height: 80px;
}

#clue_box {
    background-color: white;
    position: absolute;
    margin-left: 5%;
    margin-top: 10%;
    padding: 20px;
    width: 350px;
    height: 200px;
    font-weight: bold;
    border-style: double;
    border-width: 5px;
    border-color: goldenrod;
}

#game_panel {
    position: absolute;
    margin-left: 40%;
     display: flex;
    width: 825px;
    height: 660px;
    white-space: nowrap;
}

#character_tile_panel {
    display: inline-block;
    margin: 20px;
    width: 380px;
    height: 625px;
}

#animal_tile_panel {
    display: inline-block;
    margin: 20px 20px 20px 0px;
    width: 380px;
    height: 625px;
}

#game_message {
    background-color: white;
    position: absolute;
    margin-left: 75%;
    margin-top: 10%;
    padding: 20px;
    width: 350px;
    height: 200px;
    font-weight: bold;
    border-style: double;
    border-width: 5px;
    border-color: goldenrod;
}

#character_table {
    position: absolute;
    background-color:white;
    margin-left: auto;
    margin-right: 0px;
    width: 360px;
    height: 360px;
    border: 2px solid;
    border-collapse: collapse;
}

#animal_table {
    background-color:white;
    margin-left: 0px;
    margin-right: auto;;
    width: 360px;
    height: 360px;
    border: 5px solid;
    border-collapse: collapse;
}

#submission_panel {
    position: absolute;
    display:block;
    margin-top: 35%;
    margin-left: 33%;
    margin-bottom: 50px;
    width: 825px;
    height: 120px;
    white-space: nowrap;
}

/* form {
    margin: 20px;
} */

#input_box {
    position: absolute;
    margin-left: 20px;
    margin-top: 30px;
    width: 585px;
    height: 70px;
    font-size: 48px;
    border: 2px solid;
    border-radius: 20px;
}

#submit_button {
    position: absolute;
    margin-left: 80%;
    width: 175px;
    height: 70px;
    font-size: 24px;
    color:white;
    background-color:#037ec6;
    border-color:#037ec6;
    border-radius: 20px;
}

#stat_modal_title {
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 30px;
    font-size: 24px;
}

#stat_values {
    width: 100%;
    height: 80px;
    text-align: center;
}

#stat_labels {
    width: 100%;
    height: 80px;
    text-align: center;
}

.stat_value {
    display: inline-block;
    width: 100px;
    height: 45px;
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
}

.stat_label {
    display: inline-block;
    width: 100px;
    height: 75px;
    text-align: center;
    font-size: 12px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    overflow-y:auto;
    flex-wrap: wrap;
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.pf-modal-content {
    min-width: 160px;
}
  
.close {
    display: inline-block;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button:hover, .button:focus {
    background: #179b77;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}

.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.top-row > div:last-child {
    margin: 0;
}
  
.button-block {
    display: block;
    width: 100%;
}

#body_panel {
    width: 100%;
    height: 550px;
    text-align: center;
    font-size: 24px;
}

#form_panel {
    background-color: white;
    position: absolute;
    padding-top: 40px;
    margin-top: 40px;
    margin-left: 700px;
    width: 500px;
    height: 500px;
    text-align: center;
    font-size: 24px;
    border-style: double;
    border-width: 10px;
    border-color: goldenrod;
}

/*#email_field {*/
/*    margin: 20px;*/
/*    padding-left: 10px;*/
/*    height: 50px;*/
/*    width: 400px;*/
/*    font-size: 24px;*/
/*}*/

/*#password_field {*/
/*    margin: 20px;*/
/*    padding-left: 10px;*/
/*    height: 50px;*/
/*    width: 400px;*/
/*    font-size: 24px;*/
/*}*/

/*#login_submit_button {*/
/*    margin-top: 20px;*/
/*    width: 100px;*/
/*    height: 50px;*/
/*    font-size: 24px;*/
/*    color:white;*/
/*    background-color:green;*/
/*}*/

/*#login_message {*/
/*    margin-top: 20px;*/
/*    margin-left: 45px;*/
/*    padding-top: 20px;*/
/*    text-align:center;*/
/*    font-size: 24px;*/
/*    height: 100px;*/
/*    width: 400px;*/
/*    color:red;*/
/*}*/

.input_label {
    margin: 10px;
    font-weight: bold;
    font-size: 24px;
}

.input_text_field {
    margin: 10px;
    padding-left: 10px;
    width: 400px;
    height: 50px;
    font-size: 24px;
}

.input_text_area {
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    width: 400px;
    height: 100px;
    resize: none;
}

.form_panel_submit {
    width: 100px;
    height: 50px;
    font-size: 24px;
    color:white;
    background-color:black;
}

.apply {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: green;
    cursor: pointer;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.apply:hover {
    background-color: #1e293b;
    color: #fff;
}

@media (min-width: 768px) {
    .apply {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
}
