* {
    margin: 0;
    padding: 0;
}

p, div, pre {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

html {
    height: 100%;
    max-width: 100%;
}
body {
    max-width: 100%;
}

/* header {
    width: 100%;
    height: 120px;
} */



td {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid;
    text-align: center;
    font-weight: bold;
}




/* #game_title {
    position: absolute;
    margin: 20px 20px 20px 380px;
    width: 1150px;
    height: 80px;
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    color: white;
} */


/* #secondary_screen_buttons {
    margin: 20px 20px 20px 20px;
    width: 400px;
    height: 80px;
    white-space: nowrap;
} */

#back_button {
    display: inline-block;
    margin: 5px 5px 5px 0px;
    width: 70px;
    height: 70px;
    border: 2px solid lightgrey;
    border-radius: 5px;
}

#add_button {
    display: inline-block;
    margin: 5px 5px 5px 0px;
    width: 70px;
    height: 70px;
    border: 2px solid lightgrey;
    border-radius: 5px;
}

#secondary_screen_logo {
    position: absolute;
    margin: 20px 20px 20px 1650px;
    width: 320px;
    height: 80px;
}

/* #game_dialog {
    background-color: white;
    position: absolute;
    margin-left: 5%;
    margin-top: -600px;
    padding: 20px;
    width: 300px;
    height: 300px;
    font-weight: bold;
    border-style: double;
    border-width: 5px;
    border-color: goldenrod;
} */


/* #game_panel {
    position: absolute;
    margin-left: 40%; */
    /* display: flex; */
    /* width: 825px; */
    /* height: 660px; */
    /* white-space: nowrap;
} */

/* #game_panel {
    background-color: lightgray;
    position: absolute;
    margin-left: 530px;
    width: 825px;
    height: 660px;
    white-space: nowrap;
    border-width: 10px;
    border-color: antiquewhite;
    border-style: ridge;
} */

/* #character_tile_panel {
    display: inline-block;
    margin: 20px;
    width: 380px;
    height: 625px;
} */

/* #animal_tile_panel {
    display: inline-block;
    margin: 20px 20px 20px 0px;
    width: 380px;
    height: 625px;
} */

#game_message {
    background-color: white;
    position: absolute;
    margin-left: 70%;
    /* margin-right: 5%; */
    margin-top: -600px;
    padding: 10px;
    max-width: 350px;
    width: 20%;
    height: 200px;
    font-weight: bold;
    border-style: double;
    border-width: 5px;
    border-color: goldenrod;
}

#clue_box {
    background-color: white;
    position: absolute;
    margin-left: 5%;
    margin-top: -600px;
    padding: 10px;
    max-width: 350px;
    width: 20%;
    height: 200px;
    font-weight: bold;
    border-style: double;
    border-width: 5px;
    border-color: goldenrod;
}

#character_table {
    /* position: relative; */
    background-color:white;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 360px;
    border: 1px solid;
    border-collapse: collapse;
}

/* #animal_table {
    background-color:white;
    margin-left: 0px;
    margin-right: auto;;
    width: 360px;
    height: 360px;
    border: 5px solid;
    border-collapse: collapse;
} */

#submission_panel {
    /* position: absolute; */
    display:block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 400px;
    height: 120px;
    white-space: nowrap;
}




#input_box {
    /* position: absolute; */
    /* margin-left: 20px; */
    width: 400px;
    height: 60px;
    font-size: 30px;
    border: 2px solid;
    border-radius: 20px;
}

#submit_button {
    /* position: absolute; */
    /* margin-left: 80%; */
    margin-left: 10px;
    width: 120px;
    height: 60px;
    font-size: 20px;
    color:white;
    background-color:#037ec6;
    border-color:#037ec6;
    border-radius: 20px;
}




.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button:hover, .button:focus {
    background: #179b77;
}

/* .top-row:after {
    content: "";
    display: table;
    clear: both;
}

.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.top-row > div:last-child {
    margin: 0;
}
  
.button-block {
    display: block;
    width: 100%;
} */

#body_panel {
    width: 100%;
    height: 550px;
    text-align: center;
    font-size: 24px;
}

/* #form_panel {
    background-color: white;
    position: absolute;
    padding-top: 40px;
    margin-top: 40px;
    margin-left: 700px;
    width: 500px;
    height: 500px;
    text-align: center;
    font-size: 24px;
    border-style: double;
    border-width: 10px;
    border-color: goldenrod;
} */



.input_label {
    margin: 10px;
    font-weight: bold;
    font-size: 24px;
}

.input_text_field {
    margin: 10px;
    padding-left: 10px;
    width: 400px;
    height: 50px;
    font-size: 24px;
}

.input_text_area {
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    width: 400px;
    height: 100px;
    resize: none;
}

/* .form_panel_submit {
    width: 100px;
    height: 50px;
    font-size: 24px;
    color:white;
    background-color:black;
} */

/* .apply {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: green;
    cursor: pointer;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.apply:hover {
    background-color: #1e293b;
    color: #fff;
} */

td {
    font-family: Arial, Helvetica, sans-serif;
    border: 5px groove;
    text-align: center;
    font-weight: bold;
}

/* @media (min-width: 768px) {
    .apply {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
} */

@media screen and (max-width: 1200px) {
    /* #game_dialog {
        position: relative;
        display: block;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    } */
    #clue_box {
        margin-top: 0;
        margin-left: 5%;
        width: 38%;
        max-width: 350px;
    }
    #game_message {
        margin-top: 0;
        margin-left: 55%;
        width: 38%;
        max-width: 350px;
    }
}

@media screen and (max-width: 600px) {
    #submission_panel {
        width: 80%;
    }
    #input_box {
        width: 100%;
        height: 60px;
        display: block;
    }

    #submit_button {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        display: block;
    }

    #clue_box {
        margin-top: 30px;
        margin-left: 1%;
        width: 43%;
        padding: 3px;
    }
    #game_message {
        margin-top: 30px;
        margin-left: 50%;
        width: 43%;
        padding: 3px;
    }

    #character_table {
        width: 80%;
        max-width: 300px;
    }

    /* #game_dialog {
        position: relative;
        display: block;
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
    } */
}
