#title{
    margin-top: 10px;
    position: absolute;
    left: 45%;
    align-content: center;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    color: black;
    max-width: 100%;
}

.header_bar{
    /* width: 100%; */
    /* height: 120px; */
    background: #ADD8E6;
}

#main_screen_logo {
    position: absolute;
    margin: 20px 10px 10px 10px;
}

#menu_buttons {
    display: flex;
    max-width: 100%;
    white-space: nowrap;
}

#help_button {
    margin: 5px 5px 5px 0px;
    margin-left: auto;
    border-radius: 5px;
}

#stat_button {
    margin: 5px 5px 5px 0px;
    border-radius: 5px;
}

#profile_button {
    margin: 5px 5px 5px 0px;
    border-radius: 5px;
}

#menu_buttons_collapse {
    display: none;
}

#collapsed_menu {
    margin: 5px 5px 5px 0px;
    margin-left: auto;
    border-radius: 5px;
}

.img_button{
    display: block;
    width: auto;
    height: 40px;
}
.dropbtn, .modalbtn {
    background-color: #ADD8E6;
    border-style: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 1%;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a, p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ddd;
}


#stat_modal_title {
    width: 100%;
    height: 50px;
    text-align: center;
    /* padding-top: 30px; */
    font-size: 24px;
}

#stat_values {
    width: 100%;
    height: 80px;
    text-align: center;
}

#stat_labels {
    width: 100%;
    height: 80px;
    text-align: center;
}

.stat_value {
    display: inline-block;
    width: 100px;
    height: 45px;
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
}

.stat_label {
    display: inline-block;
    width: 100px;
    height: 75px;
    text-align: center;
    font-size: 12px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    overflow-y:auto;
    flex-wrap: wrap;
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 20px;
}

.pf-modal-content {
    min-width: 160px;
}

.close {
    display: inline-block;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.congratulation {
    width: 100%;
    height: 50px;
    text-align: center;
    /* padding-top: 20px; */
    font-size: 24px;
    font-weight: bold;
}

.screenshot-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#share_button {
    display: flex;
}

.btn-download {
    background-color: #037ec6; /* Green */
    border: #037ec6;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: auto;
    margin-right: 50px;
}
.btn-download:hover{
    box-shadow: 0 5px 15px rgba(0, 255, 64, 0.4);
}

.btn-copy {
    background-color: white; /* Green */
    border: #037ec6;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    color: #037ec6;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: auto;
}
.btn-copy:hover{
    box-shadow: 0 5px 15px rgba(0, 255, 64, 0.4);
}


#admin_access {
    display: none;
}

#admin_profile {
    position: absolute;
    top: 2.4%;
    left: 250px;
    margin: 0;
    padding: 0;
    display: flex;
}

#admin_button {
    list-style: none;
    width: 75px;
    height: 70px;
    background: #787c7e;
    border-radius: 40px;
}

#admin_button:hover {
    width: 225px;
}

#admin_name {
    display: inline-flex;
    position: absolute;
    top: 25px;
    left: 69px;
    text-decoration: none;
    visibility: hidden;
}

#admin_name{
    font-size: 17px;
    color: white;
}

#admin_button:hover #admin_name {
    visibility: visible;
}

@media screen and (max-width: 1200px) {
    .modal-content {
        width: 65%;
    }
}

@media screen and (max-width: 600px) {
    #menu_buttons {
        display: none;
    }

    #menu_buttons_collapse {
        display: flex;
        max-width: 100%;
        white-space: nowrap;
    }

    #title {
        left: 40%;
    }
    .modal-content {
        width: 80%;
    }
    .modal {
        padding-top: 20px;
    }
  }